[Desktop Entry]
Encoding=UTF-8
Name=dwm
Comment=dwm
Exec=/home/dsicilia/dev/suckless/dwm/latest/dwm
Icon=/home/dsicilia/dev/suckless/dwm/latest/dwm.png
Type=XSession
